html {
  overflow-x: hidden;
  width: 275px;
  overflow: hiden
}

body {
  background-color: rgb(94, 220, 238);
  overflow-x: hidden;
  overflow: hiden
}

a {
  color: rgb(77, 158, 237);
  font-size: 85%;
  text-decoration: none;
}

#HoloMenu {
  float: right;
}

#hs {
  background-color: rgb(94, 149, 238);
  overflow-x: hidden;
  overflow: hiden
}